.main-container{
    height: var(--note-container-height);
    width: var(--note-container-width);
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--logo-blue);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-container::before{
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background-color: black;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-bottom: 1px solid black;
    padding: 0 32px;
    box-sizing: border-box;
    z-index: 1;
}

.logo{
    height: 80px;
    margin: 0 16px;
}

.app-title{
    font-size: 16px;
    color: dimgrey;
    font-weight: 500;
}

.control-container{
    margin-left: auto;
}

.notes-container{
    height: 100%;
    position: relative;
}

.notes-container app-note{
    position: absolute;
}