<div class="main-container">
    <div class="header shadow">
        <img class="logo" src="../assets/cropped-Coloured-Motif.png">
        <h1 class="app-title">
            Sticky Notes - Remember Everything Awesome About Drones!
        </h1>
        <div class="control-container">
            <span class="material-icons large-round-button shadow">
                keyboard
            </span>
            <span (click)="addNote()" class="material-icons large-round-button shadow">
                add
            </span>
        </div>
    </div>
    <div class="notes-container">
      <app-note *ngFor="let note of notes" [id]="'note-id-'+note.id" [noteId]="note.id" [style]="'z-index: '+note.id+1+';'"></app-note>
    </div>
</div>
